/* about.css */

.about-container {
  padding: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.8;
  color: #444;
  background-color: #f4f4f9;
  border-radius: 12px;
  max-width: 850px;
  margin: 20px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  padding: 40px;
}

.about-container h1 {
  color: #1e88e5; /* Slightly different shade of blue */
  margin-bottom: 24px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.about-container h2 {
  color: #1e70bf;
  margin-top: 30px;
  margin-bottom: 12px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
  font-size: 1.5rem;
  font-weight: 500;
}

.about-container p {
  margin-bottom: 20px;
  text-align: justify;
  font-size: 1.1rem;
}

.about-container a {
  color: #1e88e5;
  text-decoration: none;
  font-weight: 500;
}

.about-container a:hover {
  text-decoration: underline;
  color: #1565c0;
}

.about-container blockquote {
  border-left: 4px solid #1e88e5;
  padding-left: 20px;
  margin: 20px 0;
  font-style: italic;
  color: #666;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
}
